/*
*
* @root
*
*/

:root{
    --naranja: #f1790d;
    --naranja-200: #b4590a;
    --azul:#4267B2;
    --titulo: 4em;
    --subtitulo: 2em;
    --texto:1em;
}

* {
    margin: 0;
    padding: 0;
        -webkit-box-sizing: border-box;
    box-sizing: border-box;
        -webkit-padding-start: 0px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    overflow-x: hidden !important;
    background-image: url('../../resources/fondo.jpg');
}

body>div {
    overflow: hidden !important;
}
body>section {
    overflow: hidden !important;
}

/*
div{
    overflow: hidden !important;
}

section{
    overflow: hidden !important;
}*/


