<section class="servicios-camionetas mt3">

    <div class="servicios-camionetas__container" id="camionetas">

        <div class="servicios-camionetas__content servicios-camionetas__content--center">
            <img src="resources/servicios/pickup.png" alt="Taxi" class="servicios-camionetas__image" data-aos="fade-left">
        </div>

        <div class="servicios-camionetas__content">
            <div class="servicios-camionetas__header">
                <h2 class="servicios-camionetas__title">CAMIONETAS</h2>
            </div>
            <p class="servicios-camionetas__text mt3">
                Contamos con camionetas que podrán apoyarte con el transporte de muebles, 
                aparatos electrónicos, lavadoras, televisiones, antecomedores y todo lo que necesites 
                trasladar con <span style="color: var(--naranja)">las mejores tarifas en carga ligera</span>. 
            </p>
            <p class="servicios-camionetas__text">
                Nuestro servicio de carga ligera puede ser a otras ciudades de la República Mexicana, comunicate al
                <span style="color: var(--naranja)">871-718-1111</span>.
            </p>
        </div>

    </div>  

</section>