
<section class="servicios-gruas mt3" id="gruas" >
    
    <div class="servicios-gruas__container">

        <div class="servicios-gruas__content">
            <div class="servicios-gruas__header">
                <h2 class="servicios-gruas__title">GRÚAS</h2>
            </div>
            <p class="servicios-gruas__text mt3">
                Servicio las <span style="color: var(--naranja)">24 horas los 365 dias del año</span>.
            </p>
            <p class="servicios-gruas__text">
                Contamos con el servicio de Grúas para arrastre de vehículos así como maniobras y traslados 
                de diferentes tipos de objetos. <br> Contamos con <span style="color: var(--naranja)">las unidades mas modernas</span> (todas de plataforma 
                para un mejor cuidado de su vehículo). <br>
                ¡Comunicate al<span style="color: var(--naranja)"> 871-718-1010</span>, tenemos las mejores tarifas!
            </p>
        </div>

        <div class="servicios-gruas__content servicios-gruas__content--center">
            <img src="resources/servicios/grua.png" alt="Taxi" class="servicios-gruas__image" data-aos="fade-left">
        </div>
    </div>

</section>

