
<section class="servicios-taxis mt3" >

    <div class="servicios-taxis__container" id="taxis">
        <div class="servicios-taxis__content">
            <img src="resources/servicios/taxi.png" alt="Taxi" class="servicios-taxis__image" data-aos="fade-left">
        </div>
    
        <div class="servicios-taxis__content">
            <div class="servicios-taxis__header">
                <h2 class="servicios-taxis__title">TAXIS</h2>
            </div>
            <p class="servicios-taxis__text mt3">
                Cobertura rápida en todo Torreón
            </p>
            <p class="servicios-taxis__text">
                Contamos con apartado de servicio a empresas por medio de vale, informate al número 
                <span style="color: var(--naranja)">871-718-1212</span>.
            </p>
        </div>
    </div>

    <div class="servicios-taxis__container flex-row-reverse " id="mandarinasplus">
        <div class="servicios-taxis__content servicios-taxis__content--center">
            <img src="resources/servicios/taxiplus.png" alt="Taxi" class="servicios-taxis__image" data-aos="fade-right">
        </div>
        <div class="servicios-taxis__content">
            <div class="servicios-taxis__header">
                <h2 class="servicios-taxis__title">MANDARINAS PLUS</h2>
            </div>
            <p class="servicios-taxis__text mt3">
                La forma más <span style="color: var(--naranja)">facil y segura</span> de solicitar una unidad. <br>
                <span style="color: var(--naranja)">Conoce</span> la tarifa aproximada de tu viaje antes de solicitar tu servicio.  <br>
                <span style="color: var(--naranja)">Obtén</span> los datos del operador y de la unidad que te darán el servicio. <br>
                <span style="color: var(--naranja)">Rastrea</span> tu unidad en tiempo real antes y durante el servicio. <br>
                ¡<span style="color: var(--naranja)">Sin</span> tarifas dinamicas!
            </p>
            
        </div>
    </div>

    <div class="servicios-taxis__container servicios-taxis__container--center flex-column" style="background-color: rgba(35, 123, 223, 0);">
        <div class="app__descarga">
            <div class="app__descarga-image">
                <img src="resources/app_pasajero.png" alt="Pasajero">
            </div>
            <div class="app__descarga-body">
                <a class="app__descarga-button--naranja" href="https://play.google.com/store/apps/details?id=com.mandarinasplus.passenger" target="blank"><i class="fa-brands fa-android" style="font-size: 1.5rem;"></i> Descargar Pasajero</a>
                <a class="app__descarga-button--naranja" href="https://apps.apple.com/us/app/mandarinas-plus-pasajero/id1468053369?ls=1" target="blank"><i class="fa-brands fa-apple" style="font-size: 1.5rem;"></i> Descargar Pasajero</a>
            </div>
        </div>
        
    </div>
    
</section>

<!--
<section class="servicios-taxis flex-row-reverse" id="mandarinasplus">

    <div class="servicios-taxis__content">
        <img src="resources/servicios/taxiplus.png" alt="Taxi" class="servicios-taxis__image" data-aos="fade-right">
    </div>

    <div class="servicios-taxis__content">
        <div class="servicios-taxis__header">
            <h2 class="servicios-taxis__title">MANDARINAS PLUS</h2>
        </div>
        <p class="servicios-taxis__text mt3">
            Deja de preocuparte esperando que pase un taxi. Mejor llámanos al 871 718 1111
            <span style="color: var(--naranja)">llega seguro, y al instante </span>
            o si prefieres através de nuestra app <span style="color: var(--naranja)">Mandarinas PLUS</span>. Contamos con <span style="color: var(--naranja)"> medidas 
            sanitarias en nuestras unidades. </span>
        </p>
        
    </div>
  
</section>

<div class="servicios-taxis flex-column hMax" style="background-color: rgba(0, 0, 0, 0);">
    <div class="app__descarga">
        <div class="app__descarga-image">
            <img src="resources/app_pasajero.png" alt="Pasajero">
        </div>
        <div class="app__descarga-body">
            <a class="app__descarga-button--naranja" href="https://play.google.com/store/apps/details?id=com.mandarinasplus.passenger" target="blank"><i class="fa-brands fa-android" style="font-size: 1.5rem;"></i> Descargar Pasajero</a>
            <a class="app__descarga-button--naranja" href="https://apps.apple.com/us/app/mandarinas-plus-pasajero/id1468053369?ls=1" target="blank"><i class="fa-brands fa-apple" style="font-size: 1.5rem;"></i> Descargar Pasajero</a>
        </div>
    </div>
   
</div>-->