/*
*
* @Layouts (App)
*
*/

.app{
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: column;
    position: relative;
}

.app__header{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.app__title{
    font-family: PoppinsBlack;
    text-align: center;
    font-size: var(--titulo);
}
    @media screen and (min-width: 318px) and (max-width: 1073px) { 
        .app__title{
            text-align: center;
        }
    }
    @media screen and (min-width: 318px) and (max-width: 640px) { 
        .app__title{
            font-size: 3rem;
        }
    }

.app__subtitle{
    font-family: PoppinsThinItalic;
    font-size: var(--subtitulo);
    text-align: center;
}

.app__content--relative{
    display: flex;
    justify-content: center;
    position: relative;
    object-fit: contain;
    width: 100%;
    height: 40rem;
    object-fit: cover;
   /* background-image: url('../../resources/mapa_celulares.png');
    background-size: cover;
    background-repeat: no-repeat;*/
}
    @media screen and (min-width: 300px) and (max-width: 1900px) { 
        .app__content--relative{
            height: 35rem;
        }
    }
    @media screen and (min-width: 300px) and (max-width: 1196px) { 
        .app__content--relative{
            height: 30rem;
        }
    }
    @media screen and (min-width: 300px) and (max-width: 1085px) { 
        .app__content--relative{
            height: 25rem;
        }
    }
    @media screen and (min-width: 300px) and (max-width: 1014px) { 
        .app__content--relative{
            height: 20rem;
        }
    }
    @media screen and (min-width: 300px) and (max-width: 700px) { 
        .app__content--relative{
            display: none;
        }
    }



.app__image{
    width: 100%;
   /* height: 43rem;*/
   height: 100%;
}

.app__image--w20{
    width: 30rem;
    height: 35rem;
    position: absolute;
    left:-8em;
}

.app__image--right{
    width: 50rem;
    height: 40rem;
    position: absolute;
    right: -20rem;
}

    @media screen and (min-width: 700px) and (max-width: 1292px) { 
       /* .app__image--w20{
            width: 20rem;
            height: 25rem;
            
        }*/
    }


.app__mask{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 90%;
    position: absolute;
    object-fit: cover;
    background-color: rgba(148, 60, 60, 0.329);
    background-image: url('../../resources/mapa_torreon.png');
    background-repeat: no-repeat;
}

    @media screen and (min-width: 700px) and (max-width: 1292px) { 
        .app__mask{
            align-items: flex-end;
        }
    }


.app__content--row{
    display: flex;
    justify-content: center;
    position: relative;
    object-fit: contain;
    width: 50%;
    height: 100%;
    align-self: center;
    flex-direction: row;
}

.app__content--column{
    display: flex;
    justify-content: center;
    position: relative;
    object-fit: contain;
    width: 51%;
    height: 100%;
    align-self: center;
    flex-direction: column;
}
   /* @media screen and (min-width: 318px) and (max-width: 1073px) { 
        .app__content--column{
            
        }
    }*/
    @media screen and (min-width: 318px) and (max-width: 700px) { 
        .app__content--column{
           margin-top: 3rem;
           width: 90%;
           padding: 3rem;
        }
    }

.app__text{
    line-height:3rem;
    text-align: center;
    font-size: var(--texto);
    font-family: PoppinsRegular;
}

.app__content--row{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    object-fit: contain;
    width: 100%;
    height: 100%;
    align-self: center;
    flex-direction: row;
    margin-top: 2rem;
}
    @media screen and (min-width: 318px) and (max-width: 1100px) { 
        .app__content--row{
            flex-direction: column;
        }
    }

.app__content--padding{
    padding: 5rem;
}    

.app__content--center{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    object-fit: contain;
    width: 100%;
    height: 100%;
    align-self: center;
    flex-direction: row;
    gap: 1rem;
    
}
    @media screen and (min-width: 318px) and (max-width: 1100px) { 
        .app__content--center{
            flex-direction: column;
            margin-top: 1rem;
        }
    }
    


.app__card{
    display: flex;
    flex-direction: row;
    width: 33.33%;
    height: 10rem;
}
    @media screen and (min-width: 318px) and (max-width: 1100px) { 
        .app__card{
            width: 100%;
            justify-content: center;
        }
    }
    
.app__card-image{
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 4rem;
    height: 50%;
}
    @media screen and (min-width: 668px) and (max-width: 1100px) { 
        .app__card-image{
            width: 20%;
        }
    }

.app__card-image img{
    width: 5rem;
}
    @media screen and (min-width: 318px) and (max-width: 1100px) { 
        .app__card-image img{
            width: 6rem;
        }
    }

.app__card-body{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
}
    @media screen and (min-width: 318px) and (max-width: 1100px) { 
        .app__card-body{
            padding: 1rem;
        }
    }

.app__card-body h3{
    font-size: var(--subtitulo);
    font-family: PoppinsRegular;
    color: var(--naranja);
}

.app__card-body p{
    font-family: PoppinsRegular;
}

.app__descarga{
    display: flex;
    flex-direction: row;
    width: 33.33%;
    height: 10rem;
    justify-content: space-between;
}
    @media screen and (min-width: 318px) and (max-width: 1100px) { 
        .app__descarga{
            width: 100%;
            justify-content: center;
        }
    }

.app__descarga-image{
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 30%;
}
    


.app__descarga-image img{
    width: 5rem;
}

    @media screen and (min-width: 601px) and (max-width: 1100px) { 
        .app__descarga-image img{
            width: 7rem;
        }
    }

    @media screen and (min-width: 318px) and (max-width: 600px) { 
        .app__descarga-image{
            width: 4rem;
        }
    }

.app__descarga-body{
    display: flex;
    width: 70%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.app__descarga-button--naranja{
    color: var(--naranja);
    font-family: PoppinsRegular;
    background-color: white;
    width: 100%;
    height: 3.5rem;
    border: 2px solid var(--naranja);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    object-fit: contain;
    cursor: pointer;
    transition: 400ms;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.app__descargar-button--md{
    width: 50%;
    margin: 0 auto ;
}

.app__descarga-button--naranja:hover{
    background-color: var(--naranja);
    color: white;
    border-color: var(--naranja);
}

.app__descarga-button--verde{
    color: rgb(12, 133, 58);;
    font-family: PoppinsRegular;
    background-color: white;
    width: 100%;
    height: 3.5rem;
    border: 2px solid rgb(12, 133, 58);;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    object-fit: contain;
    cursor: pointer;
    transition: 400ms;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.app__descarga-button--verde:hover{
    background-color: rgb(12, 133, 58);
    color: white;
    border-color: rgb(12, 133, 58);
}


.app__content-image{
    display: flex;
    width: 50%;
    object-fit: contain;
    justify-content: center;
    align-items: center;
}

.app__content-image img{
    width: 40rem;
    height: 27rem;

}
@media screen and (min-width: 318px) and (max-width: 1100px) { 
    .app__content-image{
        width: 100%;
        justify-content: center;
    }
    
}

@media screen and (min-width: 701px) and (max-width: 1100px) { 
    .app__content-image img{
        width: 80%;
    }
}

@media screen and (min-width: 435px) and (max-width: 700px) { 
    .app__content-image img{
        width: 30rem;
        height: 20rem;
    }
}

@media screen and (min-width: 318px) and (max-width: 434px) { 
    .app__content-image img{
        width: 20rem;
        height: 12rem;
    }
}

.app__images{
    display: flex;
    width: 40%;
}

.app__image-phone{
    display: flex;
}

.app__image-phone img{
    width: 70%;
}
    @media screen and (min-width: 318px) and (max-width: 1100px) { 
        .app__images{
            width: 60%;
        }

        .app__image-phone img{
            width: 100%;
        }
        .w60{
            width: 100% !important;
        }

    }

    @media screen and (min-width: 318px) and (max-width: 700px) { 
        #button__info{
            width: 100%;
        }

    }
