/*
*
* @Helpers (Flex)
*
*/

.flex-row{
    flex-direction: row !important;
}

.flex-column{
    flex-direction: column !important;
    gap: 1rem;
}

.flex-row-reverse{
    flex-direction: row-reverse !important;
}

.flex-column-reverse{
    flex-direction: column-reverse !important;
}