/*
*
* @Helpers (Margin)
*
*/




.mt1{
    margin-top: 1rem !important;
}

.mt2{
    margin-top: 2rem !important;
}

.mt3{
    margin-top: 3rem !important;
}

.mt4{
    margin-top: 4rem !important;
}

.mt5{
    margin-top: 5rem !important;
}

.mt6{
    margin-top: 6rem !important;
}

.mt7{
    margin-top: 7rem !important;
}

.mt10{
    margin-top: 10rem !important;
}

.mb5{
    margin-bottom: 5rem !important;
}