/*
*
* @Helpers (Position)
*
*/

.top0{
    top: 0 !important;
}

.top1{
    top: 1rem !important;
}

.top2{
    top: 2rem !important;
}

.top3{
    top: 3rem !important;
}

.top4{
    top: 4rem !important;
}

.top5{
    top: 5rem !important;
}

.bottom0{
    bottom: 0 !important;
}

.bottom1{
    bottom: 1rem !important;
}

.bottom2{
    bottom: 2rem !important;
}

.bottom3{
    bottom: 3rem !important;
}

.bottom4{
    bottom: 4rem !important;
}

.bottom5{
    bottom: 5rem !important;
}

.bottom6{
    bottom: 6rem !important;
}

.bottom7{
    bottom: 7rem !important;
}

.bottom8{
    bottom: 8rem !important;
}

.bottom9{
    bottom: 9rem !important;
}

.bottom10{
    bottom:10rem !important;
}

.bottom12{
    bottom:12rem !important;
}

.bottom14{
    bottom:14rem !important;
}

.bottom20{
    bottom:20rem !important;
}

