<section class="app mt5" id="app">
    <div class="app__header">
        <h2 class="app__title">APP MANDARINAS PLUS</h2>
        <h3 class="app__subtitle">VIAJA CÓMODO AL MEJOR PRECIO</h3>
    </div>        
    <div class="app__content--row w90 mt2">
        <p class="app__text app__content--padding">
            Viajando con <span style="color: var(--naranja)">Mandarinas</span> tienes <span style="color: var(--naranja)">tarifas más accesibles</span> para que viajes al mismo lugar y llegues al mismo tiempo, pagando menos.
            Con <span style="color: var(--naranja)">Mandarinas</span> tienes <span style="color: var(--naranja)">soporte 24/7 en todos tus viajes</span> y puedes contar con nuestras herramientas de seguridad para que viajes con la tranquilidad que mereces.
            ¡Es momento de cambiar la manera de transportarse en la ciudad de manera <span style="color: var(--naranja)">segura y rápida</span>! 
            <span style="color: var(--naranja)">Conoce</span> la tarifa aproximada de tu viaje antes de solicitar tu servicio.  
            <span style="color: var(--naranja)">Obtén</span> los datos del operador y de la unidad que te darán el servicio. 
            <span style="color: var(--naranja)">Rastrea</span> tu unidad <span style="color: var(--naranja)">en tiempo real</span> antes y durante el servicio. 
            ¡<span style="color: var(--naranja)">Sin</span> tarifas dinamicas!
        </p>
        <div class="app__content-image">
            <img src="resources/taxiblanco.png" alt="Taxi" data-aos="fade-right">
        </div>
    </div>
            
        <div class="servicios--row mt3" style="background-color: rgba(255, 255, 255, 0);">
            <div class="servicios__card-container">
                <div class="servicios__card-lines" id="parent"> </div>
                <div class="servicios__card" data-aos="zoom-in" data-aos-once="true" id="circuloPideTaxi">
                    <div class="servicios__card-header">
                        <i class="fa-solid fa-taxi"></i>
                    </div>
                    <div class="servicios__card-body">
                        <h3>PIDE TU TAXI</h3>
                        <p>Selecciona el destino y el tipo de servicio.</p>
                    </div>
                </div>
                <div class="servicios__card" data-aos="zoom-in" data-aos-delay="1000" data-aos-once="true" id="circuloRastreaTaxi">
                    <div class="servicios__card-header">
                        <i class="fa-solid fa-circle-location-arrow"></i>
                    </div>
                    <div class="servicios__card-body">
                        <h3>RASTREA TU TAXI</h3>
                        <p>Monitorea en tiempo real la ubicación.</p>
                    </div>
                </div>
                <div class="servicios__card" data-aos="zoom-in" data-aos-delay="1500" data-aos-once="true" id="circuloViaja">
                    <div class="servicios__card-header">
                        <i class="fa-solid fa-shield-check"></i>
                    </div>
                    <div class="servicios__card-body">
                        <h3>VIAJA SEGURO</h3>
                        <p>Llega a tu destino de manera segura.</p>
                    </div>
                </div>
                <div class="servicios__card" data-aos="zoom-in" data-aos-delay="2200" data-aos-once="true" id="circuloTicket">
                    <div class="servicios__card-header">
                        <i class="fa-solid fa-receipt"></i>
                    </div>
                    <div class="servicios__card-body">
                        <h3>TICKET</h3>
                        <p>Recibe ticket con el registro <br> de tu viaje.</p>
                    </div>
                </div>
                <div class="servicios__card" data-aos="zoom-in" data-aos-delay="3000" data-aos-once="true" id="circuloEvalua">
                    <div class="servicios__card-header">
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="servicios__card-body">
                        <h3>EVALÚA</h3>
                        <p>Califica el servicio que te brindamos.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="app__content--center" style="background-color: rgba(255, 0, 0, 0);">
            <div class="app__descarga">
                <div class="app__descarga-image">
                    <img src="resources/app_pasajero.png" alt="Pasajero">
                </div>
                <div class="app__descarga-body">
                    <a class="app__descarga-button--naranja" href="https://play.google.com/store/apps/details?id=com.mandarinasplus.passenger" target="blank"><i class="fa-brands fa-android" style="font-size: 1.5rem;"></i> Descargar Aplicación</a>
                    <a class="app__descarga-button--naranja" href="https://apps.apple.com/us/app/mandarinas-plus-pasajero/id1468053369?ls=1" target="blank"><i class="fa-brands fa-apple" style="font-size: 1.5rem;"></i> Descargar Aplicación</a>
                </div>
            </div>
        </div>


    </div>
</section>