<section class="contacto " id="contacto">
    <div class="contacto__header">
        <h2 class="contacto__title">CONTACTO</h2>
        <h3 class="contacto__subtitle">ATENCIÓN PERSONALIZADA LOS 365 DÍAS DEL AÑO</h3>
    </div>
    <div class="contacto__content mt3">
        <form class="contacto__form" method="post">
            <div class="contacto__input-line">
                <div class="contacto__input-wrapper">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                    <i class="fa-solid fa-user contacto__input-icon"></i>
                </div>
                <div class="contacto__input-wrapper">
                    <input type="text" name="correo" id="correo" placeholder="Correo electrónico">
                    <i class="fa-solid fa-envelope contacto__input-icon"></i>
                </div>
            </div>
            <textarea name="mensaje" id="mensaje" placeholder="Mensaje"></textarea>
            <div class="g-recaptcha" data-sitekey="6LfAp6oeAAAAAHkqrrAJMSyUurlomY1FuxeRdDtU" style="margin-top: 2%; margin:0 auto;"></div>
            <p class="font-family: PoppinsRegular; color: black !important; " id="status"></p>
            <button type="button" onclick="enviar()">Enviar Mensaje</button>
        </form>

        <div class="contacto__info">
            <p>
                <i class="fa-solid fa-phone"></i> <a href="tel:8717181111" class="footer__link">Tel. (871) 718 1111</a>
            </p>
            <p>
                <i class="fa-solid fa-envelope"></i> <a href="mailto:mandarinas1@prodigy.net.mx" class="footer__link">mandarinas1@prodigy.net.mx</a>
            </p>
        </div>
        <!--<div class="contacto__content contacto__content--mt2">
            <p>
                <i class="fa-solid fa-phone"></i> <a href="tel:8717181111" class="footer__link">871 718 1111</a> &nbsp;&nbsp;&nbsp; <i class="fa-solid fa-envelope"></i> <a href="mailto:contacto@mandarinas.com.mx" class="footer__link">contacto@mandarinas.com.mx</a>
            </p>
        </div>-->
    </div>
    
</section>