<section class="nosotros" id="nosotros">
    <div class="nosotros__content">
        <h2 class="nosotros__title">¿QUIÉNES SOMOS?</h2>
        <p class="nosotros__text nosotros__text--center">
            SOMOS UNA ORGANIZACIÓN DE <span style="color: var(--naranja)">TAXIS-GRÚAS Y
            TRANSPORTES DE CARGA LIGERA</span>  UBICADOS EN LA
            CIUDAD DE TORREÓN COAHUILA, MÉXICO.
            <br>
            <span style="color: var(--naranja)">Radio Taxis Mandarinas...</span> Línea de Confianza. Taxímetro las 24
            horas. ¡Llámanos y vamos por ti! <span style="color: var(--naranja)"> 871 718 1111 </span> o através de nuestra
            app <span style="color: var(--naranja)">Mandarinas PLUS</span>. Contamos con medidas sanitarias en nuestras unidades.
        </p>
        
    </div>
    <div class="nosotros__content nosotros__content--w40">
        <img src="resources/cristo.jpg" alt="Cristo" class="nosotros__image">
    </div>
</section>
 
<div class="nosotros__footer mt5">
    <p>LA COMPAÑÍA DE TAXIS CON MEJOR SERVICIO AL CLIENTE EN LA COMARCA LAGUNERA.</p>
</div>