<section class="servicios mt4" id="servicios" >
    <div class="servicios__content center w100 ">
        <h2 class="servicios__title">SERVICIOS MANDARINAS</h2>
    </div>
    <div class="servicios--col servicios--reverse mt3" id="taxis">
        <div class="servicios--row">
            <div class="servicios__content servicios__content--w40 servicios__content--center">
                <img src="resources/servicios/taxi.png" alt="Taxi" class="servicios__image" loading="lazy" data-aos="fade-left">
            </div>
            <div class="servicios__content servicios__content--w50">
                <h3 class="servicios__subtitle ">TAXIS</h3>
                <p class="servicios__text servicios__text--center">
                    Servicio las <span style="color: var(--naranja)">24 horas del dia los 365 dias del año</span> con cobertura rápida en todo Torreón. Comunicate al
                    <span style="color: var(--naranja)">(871) 718 1111</span>.
                    Contamos con servicio a empresas por medio de vales, informate al
                    <span style="color: var(--naranja)">(871) 718 1212</span>. 
                    <a id="button__info" class="app__descarga-button--naranja app__descargar-button--md" href="#vales"><i class="fa-regular fa-circle-info" style="font-size: 1.5rem;"></i> Más informacion</a>

                </p>
            </div>
        </div>

        <!--<div class="servicios--row servicios--row-rev mt6" id="mandarinasplus">
            <div class="servicios__content servicios__content--w40 servicios__content--center">
                <img src="resources/taxiblanco.png" alt="Mandarinas plus" class="servicios__image" loading="lazy" data-aos="fade-right">
            </div>
            <div class="servicios__content servicios__content--w50">
                <h3 class="servicios__subtitle">MANDARINAS PLUS</h3>
                <p class="servicios__text servicios__text--center">
                    
                    La forma más <span style="color: var(--naranja)">facil y segura</span> de solicitar una unidad.
                    <span style="color: var(--naranja)">Conoce</span> la tarifa aproximada de tu viaje antes de solicitar tu servicio.  
                    <span style="color: var(--naranja)">Obtén</span> los datos del operador y de la unidad que te darán el servicio. 
                    <span style="color: var(--naranja)">Rastrea</span> tu unidad <span style="color: var(--naranja)">en tiempo real</span> antes y durante el servicio. 
                    ¡<span style="color: var(--naranja)">Sin</span> tarifas dinamicas!
                </p>
                <div class="app__descarga" style="width: 100%;">
                    <div class="app__descarga-image">
                        <img src="resources/app_pasajero.png" alt="Pasajero">
                    </div>
                    <div class="app__descarga-body">
                        <a class="app__descarga-button--naranja" href="https://play.google.com/store/apps/details?id=com.mandarinasplus.passenger" target="blank"><i class="fa-brands fa-android" style="font-size: 1.5rem;"></i> Descargar Pasajero</a>
                        <a class="app__descarga-button--naranja" href="https://apps.apple.com/us/app/mandarinas-plus-pasajero/id1468053369?ls=1" target="blank"><i class="fa-brands fa-apple" style="font-size: 1.5rem;"></i> Descargar Pasajero</a>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="servicios--row servicios--row-rev mt6" id="gruas">
            <div class="servicios__content servicios__content--w40 servicios__content--center">
                <img src="resources/servicios/grua.png" alt="Grúa" class="servicios__image" loading="lazy" data-aos="fade-left">
            </div>
            <div class="servicios__content servicios__content--w50">
                <h3 class="servicios__subtitle">GRÚAS</h3>
                <p class="servicios__text servicios__text--center">
                    Servicio las <span style="color: var(--naranja)">24 horas los 365 dias del año</span>.
                    Contamos con el servicio de Grúas para arrastre de vehículos así como maniobras y traslados 
                    de diferentes tipos de objetos. <br> Contamos con <span style="color: var(--naranja)">las unidades mas modernas</span> (todas de plataforma 
                    para un mejor cuidado de su vehículo). <br>
                    ¡Comunicate al<span style="color: var(--naranja)"> (871) 718 1010</span>, tenemos las mejores tarifas!
                </p>
            </div>
        </div>

        <div class="servicios--row mt6" id="camionetas">
            <div class="servicios__content servicios__content--w40 servicios__content--center">
                <img src="resources/servicios/pickup.png" alt="Camioneta" class="servicios__image" loading="lazy" data-aos="fade-left">
            </div>
            <div class="servicios__content servicios__content--w50">
                <h3 class="servicios__subtitle">CAMIONETAS</h3>
                <p class="servicios__text servicios__text--center">
                    Contamos con camionetas que podrán apoyarte con el transporte de muebles, 
                    aparatos electrónicos, lavadoras, televisiones, antecomedores y todo lo que necesites 
                    trasladar con <span style="color: var(--naranja)">las mejores tarifas en carga ligera</span>. <br>
                    Nuestro servicio de carga ligera puede ser a otras ciudades de la República Mexicana, comunicate al
                    <span style="color: var(--naranja)">(871) 718 1111</span>.
                </p>
               
            </div>
        </div>
       
    </div>
    <div class="app__content--row mt6">
        <div class="app__card">
            <div class="app__card-image"> 
                <!--<img src="resources/atencion.png" alt="Atención al cliente" class="app__card--image">-->
                <i class="fa-solid fa-headset"></i>
             </div>
            <div class="app__card-body">
                <h3>24/7</h3>
                <p>Dedicamos atención para brindarte el mejor servicio previo, durante y post-viaje.</p>
            </div>
        </div>
        <div class="app__card">
            <div class="app__card-image"> 
                <!--<img src="resources/verificado.png" alt="Atención al cliente" class="app__card--image"> -->
                <i class="fa-solid fa-badge-check"></i>
            </div>
            <div class="app__card-body">
                <h3>Verificado</h3>
                <p>Todos nuestros choferes se encuentrán verificados y capacitados para brindar un servicio de calidad.</p>
            </div>
        </div>
    </div>



    <!--
    <div class="servicios--row" style="margin-top: 3rem;">
        <div class="servicios__card-container">
            <div class="servicios__card-lines" id="parent"> </div>
            <div class="servicios__card" data-aos="zoom-in" data-aos-once="true">
                <div class="servicios__card-header">
                    <img src="resources/iconos/taxi.png" alt="Pide taxi" class="servicios__card-image">
                </div>
                <div class="servicios__card-body">
                    <h3>PIDE TU TAXI</h3>
                    <p>Selecciona el destino y el tipo de servicio.</p>
                </div>
            </div>
            <div class="servicios__card" data-aos="zoom-in" data-aos-delay="1000" data-aos-once="true">
                <div class="servicios__card-header">
                    <img src="resources/iconos/rastrear.png" alt="Pide taxi" class="servicios__card-image">
                </div>
                <div class="servicios__card-body">
                    <h3>RASTREA TU TAXI</h3>
                    <p>Monitorea en tiempo real la ubicación.</p>
                </div>
            </div>
            <div class="servicios__card" data-aos="zoom-in" data-aos-delay="1500" data-aos-once="true">
                <div class="servicios__card-header">
                    <img src="resources/iconos/seguro.png" alt="Pide taxi" class="servicios__card-image">
                </div>
                <div class="servicios__card-body">
                    <h3>VIAJA SEGURO</h3>
                    <p>Llega a tu destino de manera segura.</p>
                </div>
            </div>
            <div class="servicios__card" data-aos="zoom-in" data-aos-delay="2200" data-aos-once="true">
                <div class="servicios__card-header">
                    <img src="resources/iconos/ticket.png" alt="Pide taxi" class="servicios__card-image">
                </div>
                <div class="servicios__card-body">
                    <h3>TICKET</h3>
                    <p>Recibe ticket con el registro <br> de tu viaje.</p>
                </div>
            </div>
            <div class="servicios__card" data-aos="zoom-in" data-aos-delay="3000" data-aos-once="true">
                <div class="servicios__card-header">
                    <img src="resources/iconos/evaluar.png" alt="Pide taxi" class="servicios__card-image">
                </div>
                <div class="servicios__card-body">
                    <h3>EVALÚA</h3>
                    <p>Califica el servicio que te brindamos.</p>
                </div>
            </div>
        </div>
    </div>-->
</section>
<div class="nosotros__footer flex-column">
    <p>Ya sean taxis, camionetas o grúas, puedes contar con nosotros para llevarte a tu destino de la forma más rápida y segura. </p>
    <p><i class="fa-solid fa-hands-bubbles"></i> Contamos con medidas sanitarias en nuestras unidades para tu seguridad.</p>
</div>



 <!--<div class="servicios__card-2-container">
            <div class="servicios__card-2" data-aos="fade-right">
                <div class="servicios__card-2-header">
                   <a href="taxis.php"><h3 class="ts-04 right">Taxi <span style="color: var(--naranja);">></span></h3></a>
                </div>
                <div class="servicios__card-2-image mt3">
                    <img src="resources/servicios/taxi.png" alt="Taxi" class="">
                </div>
                <div class="servicios__card-2-body mt3">
                    <ul>
                        <li>Eficiencia</li>
                        <li>Cobertura</li>
                        <li>Sanitizados</li>
                        <li>Disponibilidad</li>
                    </ul>
                </div>
            </div>

            <div class="servicios__card-2" data-aos="fade-right" data-aos-delay="200">
                <div class="servicios__card-2-header">
                    <a href="gruas.php"><h3 class="ts-04 right">Grúas <span style="color: var(--naranja);">></span></h3></a>
                </div>
                <div class="servicios__card-2-image mt3">
                    <img src="resources/servicios/grua.png" alt="Taxi" class="">
                </div>
                <div class="servicios__card-2-body mt3">
                    <ul>
                        <li>Cobertura</li>
                        <li>Disponibilidad</li>
                        <li>Arrastre</li>
                        <li>Plataforma</li>
                        <li>Doble</li>
                    </ul>
                </div>
            </div>

            <div class="servicios__card-2" data-aos="fade-right" data-aos-delay="400">
                <div class="servicios__card-2-header">
                    <a href="camionetas.php"><h3 class="ts-04 right">Camionetas <span style="color: var(--naranja);">></span></h3></a>
                </div>
                <div class="servicios__card-2-image mt3">
                    <img src="resources/servicios/pickup.png" alt="Taxi" class="">
                </div>
                <div class="servicios__card-2-body mt2">
                    <ul>
                        <li>Carga Pequeña</li>
                        <li>Cobertura</li>
                        <li>Sanitizados</li>
                        <li>Disponibilidad</li>
                        <li>Fletes</li>
                        <li>Mudanza</li>
                    </ul>
                </div>
            </div>

            <div class="servicios__card-2" data-aos="fade-right" data-aos-delay="600">
                <div class="servicios__card-2-header ">
                    <a href="taxis.php#empresarial"><h3 class="ts-04 right">Empresarial <span style="color: var(--naranja);">></span></h3></a>
                </div>
                <div class="servicios__card-2-image mt3">
                    <img src="resources/servicios/taxiplus.png" alt="Taxi" class="">
                </div>
                <div class="servicios__card-2-body mt3"">
                    <ul>
                        <li>Eficiencia</li>
                        <li>Cobertura</li>
                        <li>Sanitizados</li>
                        <li>Disponibilidad</li>
                    </ul>
                </div>
            </div>
           
        </div>-->