<section class="servicios mt4" id="servicios" >
    <div class="servicios__content center w100 ">
        <h2 class="servicios__title">SERVICIOS MANDARINAS</h2>
    </div>
    <div class="servicios--row mt5">
        <div class="servicios__card-2-container">
            <div class="servicios__card-2" data-aos="fade-right">
                <div class="servicios__card-2-header">
                   <a href="taxis.php"><h3 class="ts-04 right">Taxi <span style="color: var(--naranja);">></span></h3></a>
                </div>
                <div class="servicios__card-2-image mt3"">
                    <img src="resources/servicios/taxi.png" alt="Taxi" class="">
                </div>
                <div class="servicios__card-2-body mt3">
                    <ul>
                        <li>Eficiencia</li>
                        <li>Cobertura</li>
                        <li>Sanitizados</li>
                        <li>Disponibilidad</li>
                    </ul>
                </div>
            </div>

            <div class="servicios__card-2" data-aos="fade-right" data-aos-delay="200">
                <div class="servicios__card-2-header">
                    <a href="gruas.php"><h3 class="ts-04 right">Grúas <span style="color: var(--naranja);">></span></h3></a>
                </div>
                <div class="servicios__card-2-image">
                    <img src="resources/servicios/grua.png" alt="Taxi" class="">
                </div>
                <div class="servicios__card-2-body">
                    <ul>
                        <li>Cobertura</li>
                        <li>Disponibilidad</li>
                        <li>Arrastre</li>
                        <li>Plataforma</li>
                        <li>Doble</li>
                    </ul>
                </div>
            </div>

            <div class="servicios__card-2" data-aos="fade-right" data-aos-delay="400">
                <div class="servicios__card-2-header">
                    <a href="pickups.php"><h3 class="ts-04 right">Pick Ups <span style="color: var(--naranja);">></span></h3></a>
                </div>
                <div class="servicios__card-2-image">
                    <img src="resources/servicios/pickup.png" alt="Taxi" class="">
                </div>
                <div class="servicios__card-2-body">
                    <ul>
                        <li>Carga Pequeña</li>
                        <li>Cobertura</li>
                        <li>Sanitizados</li>
                        <li>Disponibilidad</li>
                        <li>Fletes</li>
                        <li>Mudanza</li>
                    </ul>
                </div>
            </div>

            <div class="servicios__card-2" data-aos="fade-right" data-aos-delay="600">
                <div class="servicios__card-2-header ">
                    <a href="taxis.php#empresarial"><h3 class="ts-04 right">Empresarial <span style="color: var(--naranja);">></span></h3></a>
                </div>
                <div class="servicios__card-2-image mt3">
                    <img src="resources/servicios/taxiplus.png" alt="Taxi" class="">
                </div>
                <div class="servicios__card-2-body mt3"">
                    <ul>
                        <li>Carga Pequeña</li>
                        <li>Cobertura</li>
                        <li>Sanitizados</li>
                        <li>Disponibilidad</li>
                        <li>Fletes</li>
                        <li>Mudanza</li>
                    </ul>
                </div>
            </div>
           
        </div>
    </div>

    <div class="servicios--row servicios--reverse mt5">
        <div class="servicios__content servicios__content--w40">
            <img src="resources/taxiblanco.png" alt="Taxi Empresarial" class="servicios__image" loading="lazy" data-aos="fade-right">
        </div>
        <div class="servicios__content">
            <h3 class="servicios__subtitle">MANDARINAS PLUS</h3>
            <p class="servicios__text servicios__text--center">
                Deja de preocuparte esperando que pase un taxi. Mejor llámanos al 871 718 1111
                <span style="color: var(--naranja)">llega seguro, y al instante </span>
                o si prefieres através de nuestra app <span style="color: var(--naranja)">Mandarinas PLUS</span>. Contamos con <span style="color: var(--naranja)"> medidas 
                sanitarias en nuestras unidades. </span>
            </p>
        </div>
    </div>
    <div class="app__content--row mt3">
        <div class="app__card">
            <div class="app__card-image"> <img src="resources/atencion.png" alt="Atención al cliente" class="app__card--image"> </div>
            <div class="app__card-body">
                <h3>24/7</h3>
                <p>Dedicamos atención para brindarte el mejor servicio previo, durante y post-viaje.</p>
            </div>
        </div>
        <div class="app__card">
            <div class="app__card-image"> <img src="resources/verificado.png" alt="Atención al cliente" class="app__card--image"> </div>
            <div class="app__card-body">
                <h3>Verificado</h3>
                <p>Todos nuestros choferes se encuentrán verificados y capacitados para brindar un servicio de calidad.</p>
            </div>
        </div>
    </div>
    <!--
    <div class="servicios--row" style="margin-top: 3rem;">
        <div class="servicios__card-container">
            <div class="servicios__card-lines" id="parent"> </div>
            <div class="servicios__card" data-aos="zoom-in" data-aos-once="true">
                <div class="servicios__card-header">
                    <img src="resources/iconos/taxi.png" alt="Pide taxi" class="servicios__card-image">
                </div>
                <div class="servicios__card-body">
                    <h3>PIDE TU TAXI</h3>
                    <p>Selecciona el destino y el tipo de servicio.</p>
                </div>
            </div>
            <div class="servicios__card" data-aos="zoom-in" data-aos-delay="1000" data-aos-once="true">
                <div class="servicios__card-header">
                    <img src="resources/iconos/rastrear.png" alt="Pide taxi" class="servicios__card-image">
                </div>
                <div class="servicios__card-body">
                    <h3>RASTREA TU TAXI</h3>
                    <p>Monitorea en tiempo real la ubicación.</p>
                </div>
            </div>
            <div class="servicios__card" data-aos="zoom-in" data-aos-delay="1500" data-aos-once="true">
                <div class="servicios__card-header">
                    <img src="resources/iconos/seguro.png" alt="Pide taxi" class="servicios__card-image">
                </div>
                <div class="servicios__card-body">
                    <h3>VIAJA SEGURO</h3>
                    <p>Llega a tu destino de manera segura.</p>
                </div>
            </div>
            <div class="servicios__card" data-aos="zoom-in" data-aos-delay="2200" data-aos-once="true">
                <div class="servicios__card-header">
                    <img src="resources/iconos/ticket.png" alt="Pide taxi" class="servicios__card-image">
                </div>
                <div class="servicios__card-body">
                    <h3>TICKET</h3>
                    <p>Recibe ticket con el registro <br> de tu viaje.</p>
                </div>
            </div>
            <div class="servicios__card" data-aos="zoom-in" data-aos-delay="3000" data-aos-once="true">
                <div class="servicios__card-header">
                    <img src="resources/iconos/evaluar.png" alt="Pide taxi" class="servicios__card-image">
                </div>
                <div class="servicios__card-body">
                    <h3>EVALÚA</h3>
                    <p>Califica el servicio que te brindamos.</p>
                </div>
            </div>
        </div>
    </div>-->
</section>
<div class="nosotros__footer flex-column">
    <p>Ya sean taxis, camionetas o grúas, puedes contar con nosotros para llevarte a tu destino de la forma más rápida y segura. </p>
    <p><i class="fa-solid fa-hands-bubbles"></i> Contamos con medidas sanitarias en nuestras unidades para tu seguridad.</p>
</div>