
<section class="vales" id="vales">

    <div class="vales__header center">
        <h2 class="vales__title">SERVICIO DE VALES</h2>
    </div>

    <h3 class="vales__subtitle mt4 ">¿En qué consiste?</h3>
    <div class="vales__content w80 ">
        
        <p class="vales__text">
            El proceso consiste en que nosotros le  <span style="color: var(--naranja)">otorgamos blocks de vales en blanco</span> a la empresa los cuales son
            llenados por la empresa con los datos que requieran y con la tarifa acordada de acuerdo al tabulador y
            <span style="color: var(--naranja)">con ese vale le liquidan al operador del taxi </span>. 
            <br> Cada semana <span style="color: var(--naranja)">se le manda a la empresa la factura para su
            revisión</span> y pago anexando como comprobante para los mismos vales que expidieron. 
        </p>
        <img src="resources/vale2.jpg" alt="vale" class="vale__image" data-aos="fade-left">
    </div>

    <div class="vales__content mt3">
        <h3 class="vales__subtitle">Ventajas :</h3>
    </div>

    <div class="servicios--row mt3" style="background-color: rgba(255, 255, 255, 0);">
        
        <div class="servicios__card-container">
            <div class="servicios__card" data-aos="zoom-in" data-aos-once="true" id="circuloPideTaxi">
                <div class="servicios__card-header">
                    <i class="fa-solid fa-file-invoice"></i>
                </div>
                <div class="servicios__card-body">
                    <br>
                    <p>Servicio facturado.</p>
                </div>
            </div>
            <div class="servicios__card" data-aos="zoom-in" data-aos-delay="200"  id="circuloRastreaTaxi">
                <div class="servicios__card-header">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                </div>
                <div class="servicios__card-body">
                    <br>
                    <p>100% deducible de impuestos.</p>
                </div>
            </div>
            <div class="servicios__card" data-aos="zoom-in" data-aos-delay="500"  id="circuloViaja">
                <div class="servicios__card-header">
                    <!--<span class="fa-stack" >
                        <i class="fa-regular fa-money-bill " style="font-size: 2.5rem;"></i>
                        <i class="fa-solid fa-ban fa-stack-1x" ></i>
                    </span>-->
                    <img src="resources/icon-ban.png" alt="Ban" class="servicios__card-image">

                </div>
                <div class="servicios__card-body">
                    <br>
                    <p>No utilizar efectivo.</p>
                </div>
            </div>
            <div class="servicios__card" data-aos="zoom-in" data-aos-delay="700" id="circuloTicket">
                <div class="servicios__card-header">
                    <i class="fa-solid fa-handshake"></i>
                </div>
                <div class="servicios__card-body">
                    <br>
                    <p>Prestación muy apreciada por el personal.</p>
                </div>
            </div>
           
        </div>
    </div>

    <!--<div class="vales__content center w100 mt3 ">
        <h3 class="vales__subtitle">Ventajas</h3>
        <div class="vales__card-container">
            <div class="vales__card">
                <div class="vales__card-header">
                    <i class="fa-solid fa-file-invoice"></i>
                </div>
                <div class="vales__card-body">
                    Servicio facturado
                </div>
            </div>
            <div class="vales__card">
                <div class="vales__card-header">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                </div>
                <div class="vales__card-body">
                    100% Deducible de impuestos
                </div>
            </div>
            <div class="vales__card">
                <div class="vales__card-header">
                    <i class="fa-solid fa-money-bill-transfer"></i>
                    <i class="fa-solid fa-ban"></i>
                </div>
                <div class="vales__card-body">
                    No utilizar efectivo
                </div>
            </div>
            <div class="vales__card">
                <div class="vales__card-header">
                    <i class="fa-solid fa-handshake"></i>
                </div>
                <div class="vales__card-body">
                    Prestación muy apreciada por el personal
                </div>
            </div>
        </div>
    </div>-->

</section>