/*
*
* @Layouts (Servicios/Camionetas)
*
*/

.servicios-camionetas{
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: column;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    gap: 4rem;
}

.servicios-camionetas__container{
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: row;
    gap: 2rem;
}
    @media screen and (min-width: 318px) and (max-width: 1073px) { 
        .servicios-camionetas__container{
            flex-direction: column-reverse;
        }
    }
   
.servicios-camionetas__container--center{
    justify-content: center;
    align-items: center;
}

.servicios-camionetas__content{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
    @media screen and (min-width: 318px) and (max-width: 1073px) { 
        .servicios-camionetas__content{
            width: 100%;
        }
    }

.servicios-camionetas__content--center{
    align-self: center;
}

.servicios-camionetas__image{
    width: 100%;
    max-width: 80%;
}

.servicios-camionetas__title{
    font-family: PoppinsBlack;
    font-size: var(--titulo);
}
    @media screen and (min-width: 318px) and (max-width: 1073px) { 
        .servicios-camionetas__title{
            text-align: center;
        }
    }
    @media screen and (min-width: 318px) and (max-width: 640px) { 
        .servicios-camionetas__title{
            font-size: 3rem;
        }
    }

.servicios-camionetas__text{
    line-height:3rem;
    text-align: center;
    font-size: var(--texto);
    font-family: PoppinsRegular;
}

@media screen and (min-width: 318px) and (max-width: 1073px) { 
    .flex-row-reverse{
        flex-direction: column-reverse !important;
    }
}

.servicios-camionetas__header{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
