<div class="sidebar" id="sidebar">
    <div class="sidebar__content--right">
        <button class="btnCerrar"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="sidebar__content">
        <a href="#" class="sidebar__link">INICIO</a>
        <a href="#nosotros" class="sidebar__link">NOSOTROS</a>
        <a href="#servicios" class="sidebar__link">SERVICIOS</a>
        <a href="#app" class="sidebar__link">APP</a>
        <a href="#contacto" class="sidebar__link">CONTACTO</a>
        <a href="https://www.facebook.com/Mandarinas/" target="blank" class="sidebar__link">FACEBOOK</a>
        <!--<a href="index.php" class="sidebar__image">
            <img src="resources/mandarinas.png" alt="Mandarinas" title="Radio Taxis Mandarinas" >
        </a>-->
    </div>
</div>